/**
 * @name Checkbox
 * @desc 多选框
 */
.ln-checkbox-container {
  box-sizing: border-box;
  background: transparent;

  * {
    box-sizing: border-box;
  }

  .ln-checkbox-input, [type=checkbox] {
    display: none; /* 隐藏原始多选框 */
  }
}


.ln-checkbox {
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;

  &:not(:last-child) {
    margin-right: 6px;
  }

  &:hover {
    background: rgba(0, 119, 255, 0.06);
  }

  span {
    vertical-align: middle;
    transform: translate3d(0, 0, 0);

    &:first-child {
      position: relative;
      flex: 0 0 18px;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      transform: scale(1);
      border: 1px solid #cccfdb;
      transition: all 0.3s ease;

      svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transform: translate3d(0, 0, 0);
      }
    }

    &:last-child {
      padding-left: 8px;
      line-height: 18px;
    }
  }

  &:hover span:first-child {
    border-color: #0077ff;
  }
}


.ln-checkbox-input:checked + .ln-checkbox span:first-child {
  background: #0077ff;
  border-color: #0077ff;
  animation: zoom-in-out 0.3s ease;
}

.ln-checkbox-input:checked + .ln-checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}
