/**
 * @name Masonry
 * @desc 瀑布流
 */
.ln-masonry-container {
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }

}

.ln-masonry-container {
  margin: 0 auto;

  .ln-row {
    columns: 4; // 默认列数
    column-gap: 30px; // 列间距
  }

  .ln-col {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 30px;
  }
}
