/**
 * @name Grid
 * @desc 栅格布局
 */
.#{$g-pre}grid-container {
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.#{$g-pre}grid-container,
.#{$g-pre}grid-container-fluid {
  padding-left: 15px; /* 设置padding是为了后面Column直接嵌套Row预留 */
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  * {
    box-sizing: border-box;
  }

  .#{$g-pre}row {
    margin-left: -15px;
    margin-right: -15px; /* Container设置了padding，所以Row需要设置-margin让Row占满Container的宽度 */
    &:after {
      /* float会引起父元素的高度塌陷，所以要使用一些clearfix技巧来清除浮动 */
      content: "";
      display: table;
      clear: both;
    }

    & + .#{$g-pre}row {
      margin-top: 10px;
    }
  }

  [class*="#{$g-pre}col-"] {
    float: left;
    min-height: 1px;
    padding: 4px; /* Gutter的设置 同时和前面Container设置的一样，所以Column里面可以直接嵌套Row，而不需要Container */
  }

  @for $i from 1 through 12 {
    .#{$g-pre}col-#{$i} {
      width: $i / 12 * 100%;
    }
    .#{$g-pre}col-offset-#{$i} {
      margin-left: $i / 12 * 100%;
    }
  }
  /* 小屏幕 平板等 屏幕宽度大于等于768px */
  @media (min-width: 768px) {
    @for $i from 1 through 12 {
      .#{$g-pre}col-sm-#{$i} {
        width: $i / 12 * 100%;
      }
      .#{$g-pre}col-offset-sm-#{$i} {
        margin-left: $i / 12 * 100%;
      }
    }
  }

  /* 中等屏幕 桌面显示器等 屏幕宽度大于等于992px */
  @media (min-width: 992px) {
    @for $i from 1 through 12 {
      .#{$g-pre}col-md-#{$i} {
        width: $i / 12 * 100%;
      }
      .#{$g-pre}col-offset-md-#{$i} {
        margin-left: $i / 12 * 100%;
      }
    }
  }

  /* 大屏幕 大桌面显示器等 屏幕宽度大于等于1200px */
  @media (min-width: 1200px) {
    @for $i from 1 through 12 {
      .#{$g-pre}col-lg-#{$i} {
        width: $i / 12 * 100%;
      }
      .#{$g-pre}col-offset-lg-#{$i} {
        margin-left: $i / 12 * 100%;
      }
    }
  }
}
