/**
 * 按钮组
 */

.#{$g-pre}btn-group {
  display: flex;
  .#{$g-pre}btn {
    margin: 0;
    border-radius: 0;
    &:not(:first-child) {
      border-left: 0;
    }
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
