/**
 * @name Progress
 * @desc 进度条
 */
.#{$g-pre}progress__container {
  display: flex;
  width: 100%;
  border-radius: 9999px;
  background-color: $default;

  .#{$g-pre}progress__label {
    // flex: 1;
    display: inline-block;
  }
  .#{$g-pre}progress {
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: $primary;
    border-radius: 9999px 0 0 9999px;
    transition: width 0.2s linear;
  }
}
