// @name todolist
// @desc 待办事项列表
// 容器
.#{$g-pre}todolist {
  // 组
  .#{$g-pre}todolist-group {
    .#{$g-pre}todolist-item {
      input[type="checkbox"] {
        &:checked {
          opacity: 0.5;

          & + label {
            text-decoration: line-through; // 划去文本
            opacity: 0.5; // 降低显示
          }
        }
      }

      label {
      }

      // 代办
      .is-todo {
      }

      // 已办
      .is-done {
        text-decoration: line-through; // 划去文本
        opacity: 0.5; // 降低显示
      }
    }
  }
}

.#{$g-pre}todo {
}
