// 修饰类
// 色彩类
.is {
  &-primary {
  }

  &-success {
  }

  &-warning {
  }

  &-danger {
  }

  &-info {
  }
}

// 激活
.active {
  &-hover {
  }

  &-focus {
  }

  &-visited {
  }

  &-active {
  }
}

@import "./color.scss";
