// @import "https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css";

$g-pre: "ln-";
@import "./mixin/index.scss";
@import "./constants/index.scss";

@import "./skin/index.scss";
@import "./layout/index.scss";

@import "./element/index.scss";
@import "./modify/index.scss";
@import "component/index";

* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
